html {
    background-color: #F2F2F2;
    font-size: 10px;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 300;
}


/* CONTROLS */

#controls {
    margin: 1.75em auto;
}

#search-field:focus {
    border-bottom: 1px solid #3E3E3E;
    -webkit-box-shadow: 0 1px 0 0 #3E3E3E;
    -moz-box-shadow: 0 1px 0 0 #3E3E3E;
    box-shadow: 0 0 0 0 #3E3E3E;
}

input#search-field {
    font-size: 3em;
    font-weight: 200;
    text-align: center;
    margin: 0em auto;
}


button#start,
button#stop {
    font-size: 1.75em;
    font-weight: 200;
    width: 100%;
}

#start-stream,
#stop-stream {
    width: 25%;
}

img#twitter-logo {
    width: 5%;
    display: inline;
    vertical-align: middle;
}

.powered {
    width: 25%;
    font-size: 1.65em;
    vertical-align: middle;
}

/* VISUALIZATION */

#search-keyword {
    
    margin: 0 auto;
    padding: 0 auto;
}

.emoji {
    font-size: 3em;
}

#data-wrapper {
    border: 0.55px solid #E7E7E7;
    background-color: #F8F8F8;
    margin: 0 auto;
    margin-top: 2em;
    padding-bottom: 1em;
}

#visualization {
    width: 100%;
    margin: 2em 2em
}

#donut {
    display: inline-block;
    width: 60%;
}

#positive,
#negative,
#neutral {
    font-weight: 300; 
    margin: 0.50em auto;
    height: 175px;
}

.overview-header {
    width: 100%
    margin: 0 auto;
}

.tweet-overview,
.tweet-origin {
    font-size: 1.5em;
    display: inline;
    width: 50%;
}

.tweet-origin {
    padding-right: 1em;
}

/*#pos-view {
    background-color: #687387;
    margin: 0 auto;
}

#neut-view {
    background-color: #596354;
    margin: 0 auto;
}

#neg-view {
    background-color: #66434A;
    margin: 0 auto;
}*/

.tweet-origin {
    float: right;
}

#positive {
    border: 3px solid #8DB4DE;
    background-color: #8C9AB4;
    color: #E7E7E7;
}

#neutral {
    border: 3px solid #9BBF87;
    background-color: #83927C;
    color: #E7E7E7;
}

#negative {
    border: 3px solid #C34949;
    background-color: #885961;
    color: #E7E7E7;
}

.location {
    font-size: 1.25em; 
}

#positive-locations,
#neutral-locations,
#negative-locations {
    overflow: scroll;
    margin-top: 0.55em;
    padding-right: 1em;
    height: 75%;
}

::-webkit-scrollbar {
    display: none;
}
