body {
    background-color: #E5E8EB;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

p {
    font-size: 2em;
}

/* CONTROLS */

#controls {
    width: 25%;
    margin: 0 auto;
}

input {
    width: 100%;
    font-size: 1.5em;
    margin: 0 auto;
    display: block;
    text-align: center;
}

button {
    width: 100%;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: 200;
}