{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>canary</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id='data-wrapper'>

    {% block content %}
    {% endblock %}
    </div>

    <div id='controls'>
        <form id="start-stream" action="{% url 'canary:start_stream' %}" method="post">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search">
            <button id="start" type="submit">Start</button>
        </form>

        <form id="stop-stream" action="{% url 'canary:stop_stream' %}">
            <button id="stop" type="submit">Stop</button>
        </form>
    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

</body>
</html>