{% extends 'canary/index.html' %}

{% load static %}
{% block content %}
<!-- CONTROLS -->
<div class="controls">
  <form action="{% url 'canary:stop_stream' %}">
      {% csrf_token %}
      <div class='row'>
        <div class='stop-stream center-align'>
            <button id="stop" class='btn waves-effect waves-light btn-large grey-text text-darken-2 #b3e5fc grey lighten-2' type="submit">Stop Stream</button>
        </div>
      </div>
  </form>
</div>

<div id='vis-wrap'>
  <div id='data-wrapper'>
    <div id='visualization' action="{% url 'canary:visualization' %}" method='get'>

      <div class='row'>
        <div id='search-keyword'>
          <h1 class="header header-regular no-select">Streaming results for <i>'{{positive.keyword}}'</i></h1>
        </div>
        <div class='loader center-align'>
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-yellow-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class='row viz-elements'>
        <div id='donut' class='col s6 left-align'>
            <script type="text/javascript">
                SentimentValues.positive = {{ positive.sentiment_value }};
                SentimentValues.negative = {{ negative.sentiment_value }};
                SentimentValues.neutral = {{ neutral.sentiment_value }};

                google.charts.load("current", {packages:["corechart"]});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    let data = google.visualization.arrayToDataTable([
                        ['Sentiment', 'Count'],
                        ['Positive', SentimentValues.positive],
                        ['Neutral', SentimentValues.neutral],
                        ['Negative', SentimentValues.negative]
                    ]);

                    let options = {
                      title: 'Tweet Sentiment',
                      sliceVisibilityThreshold: 0,
                      backgroundColor: 'transparent',
                      is3D: 'true',
                      fontSize: '16',
                      fontName: 'Helvetica',
                      fontWeight: '200',
                      chartArea: {'width': '80%', 'height': '80%'},
                      legend: {'position': 'bottom'},
                      circle: {'width': '500px'},
                      colors: ['#5DCF72', '#D0D16E', '#D17571']
                    };

                    let chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    chart.draw(data, options);
                }

            </script>

          <div id="piechart" style="width: 400px; height: 400px;"></div>
        </div>

        <!-- POSITIVE SENTIMENT CARD -->
        <div id='positive' class='col s4 origin-wrapper'>
            <div class='left-align tweet-overview'>
              <span class='tweet-data'><b><span class='sentiment-count'>{{positive.sentiment_value}}</span></b> positive tweet origins</span>
            </div>
            <div id='positive-locations' class='right-align'>
            {% for loc in positive.origins %}
                {% if loc != "Unknown Origin" %}
                    <h6 class='tweet-data location'>{{loc}}</h6>
                {% endif %}
            {% endfor %}
          </div>
        </div>

        <!-- NEUTRAL SENTIMENT CARD -->
        <div id='neutral' class='col s4 origin-wrapper'>
          <div class='left-align tweet-overview'>
            <span class='tweet-data'><b><span class='sentiment-count'>{{neutral.sentiment_value}}</span></b> neutral tweet origins</span>
          </div>
          <div id='neutral-locations' class='right-align'>
            {% for loc in neutral.origins %}
            {% if loc != "Unknown Origin" %}
            <h6 class='tweet-data location'>{{loc}}</h6>
            {% endif %}
            {% endfor %}
          </div>
        </div>

        <!-- NEGATIVE SENTIMENT CARD -->
        <div id='negative' class='col s4 origin-wrapper'>
          <div class='left-align tweet-overview'>
            <span class='tweet-data'><b><span class='sentiment-count'>{{negative.sentiment_value}}</span></b> negative tweet origins</span>
          </div>
          <div id='negative-locations' class='tweet-data right-align'>
            {% for loc in negative.origins %}
            {% if loc != "Unknown Origin" %}
            <h6 class='tweet-data location'>{{loc}}</h6>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/refresh.js' %}"></script>
{% endblock %}


