{% extends 'canary/index.html' %}

{% load static %}
{% block content %}

<div id='visualization' action="{% url 'canary:visualization' %}" method='get'>
  <div class='row'>
    <div id='search-keyword'>
      <h1>Streaming results for <i>'{{positive.keyword}}'</i></h1>
    </div>
  </div>
  <div class='row'>
    <div id='donut' class='col s6 left-align'>
        <script type="text/javascript">
          google.charts.load("current", {packages:["corechart"]});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Sentiment', 'Count'],
              ['Positive',     {{positive.sentiment}}],
              ['Neutral',  {{neutral.sentiment}}],
              ['Negative',      {{negative.sentiment}}]
            ]);

            var options = {
              title: 'Tweet Sentiment',
              'fontWeight': '200',
              backgroundColor: 'transparent',
              is3D: 'true',
              fontSize: '16',
              fontName: 'Helvetica',
              fontWeight: '200',
              chartArea: {'width': '80%', 'height': '80%'},
              legend: {'position': 'bottom'},
              colors: ['#5F7992', '#779266', '#923837']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
          }
        </script>

        <div id="piechart" style="width: 400px; height: 400px;"></div>
    </div>

    <div id='positive' class='col s4'>
        <div class='left-align tweet-overview'>
          <span><b>{{positive.sentiment}}</b> positive tweets</span>
        </div>
        <div class='right-align tweet-origin'>
          <span>Origin</span>
        </div>
      <div id='positive-locations' class='right-align'>
        {% for loc in positive.location %}
        {% if loc != "Unknown Location" %}
        <h6 class='location'>{{loc}}</h6>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <div id='neutral' class='col s4'>
      <div class='left-align tweet-overview'>
        <span><b>{{neutral.sentiment}}</b> neutral tweets</span>
      </div>
      <div class='right-align tweet-origin'>
        <span>Origin</span>
      </div>
      <div id='neutral-locations' class='right-align'>
        {% for loc in neutral.location %}
        {% if loc != "Unknown Location" %}
        <h6 class='location'>{{loc}}</h6>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <div id='negative' class='col s4'>
      <div class='left-align tweet-overview'>
        <span><b>{{negative.sentiment}}</b> negative tweets</span>
      </div>
      <div class='right-align tweet-origin'>
        <span>Origin</span>
      </div>
      <div id='negative-locations' class='right-align'>
        {% for loc in negative.location %}
        {% if loc != "Unknown Location" %}
        <h6 class='location'>{{loc}}</h6>
        {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>


<script src="{% static 'js/refresh.js' %}"></script>

{% endblock %}